.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #0e0e0e;
    font-family: Arial, sans-serif;
    font-weight: 700;
    color: #ffc900;
    line-height: 1.5;
}

.title {
    position: absolute;
    width: 18em;
    height: 78em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 500%;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(20deg);
}

.titles {
    text-align: center;
    text-transform: uppercase;
}

.margin {
    margin-bottom: 15vh;
}

.justify {
    text-align: justify;
}

.content {
    position: absolute;
    top: 93%;
    animation: scroll 30s linear 0s infinite;
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% { top: 93%; }
    100% { top: 50%; }
}